http://:80 {
  encode gzip

  header * {
    Ngrok-Skip-Browser-Warning "FitTracker Pro"
  }

  @api path /api/* /docs* /redoc* /openapi.json /metrics /health
  handle @api {
    reverse_proxy fittracker-backend:8000
  }

  handle {
    reverse_proxy fittracker-frontend:80
  }
}
